PORT=4000
SERVICE_NAME=notification-app-be
LOG_LEVEL=info
TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJzaWRkaGkyM2IwMTAxMDE1QGFiZXMuYWMuaW4iLCJleHAiOjE3ODA5OTQ1ODgsImlhdCI6MTc4MDk5MzY4OCwiaXNzIjoiQWZmb3JkIE1lZGljYWwgVGVjaG5vbG9naWVzIFByaXZhdGUgTGltaXRlZCIsImp0aSI6ImRmNjAwMzExLWJjOTItNGVlMi05MjlkLTY5ZGI5Y2E4NTUwNCIsImxvY2FsZSI6ImVuLUlOIiwibmFtZSI6InNpZGRoaSBnb2VsIiwic3ViIjoiY2YzMTY4N2ItMWJkOC00MmVlLTllYTMtMmQ5NzVkZmQ0MjMzIn0sImVtYWlsIjoic2lkZGhpMjNiMDEwMTAxNUBhYmVzLmFjLmluIiwibmFtZSI6InNpZGRoaSBnb2VsIiwicm9sbE5vIjoiMjMwMDMyMDEwMDI0OCIsImFjY2Vzc0NvZGUiOiJjWHVxaHQiLCJjbGllbnRJRCI6ImNmMzE2ODdiLTFiZDgtNDJlZS05ZWEzLTJkOTc1ZGZkNDIzMyIsImNsaWVudFNlY3JldCI6ImhiYnZnWHlVblB6VmZFeFcifQ.5flOgKNIXFKPCke5qD7lFZDIYnd7zGSmDJPKRPqxbQg"